@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff") format("woff"),
         url("../fonts/roboto.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff") format("woff"),
         url("../fonts/robotobold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff") format("woff"),
         url("../fonts/robotomedium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;

}


html,
body { 
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff; 
	background-color: #849d8f;
    -webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
    margin: 0 auto;
}

.navigation-list,
.navigation-menu,
.user-nav,
.slider-list,
.product,
.about-gllacy,
.social-btn,
.helpful-info,
.breadcrumbs {
	list-style: none;
}

a {
   text-decoration: none;
   color: #ffffff;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 9px;
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.navigation {
	display: flex;
}

.header-logo {
	width: 154px;
	height: 64px;

	margin-right: 10px;
}

.navigation-list {
	margin: 0;
	padding: 0;
	width: 390px;
	display: flex;
	flex-wrap: wrap;
	padding: 12px 6px;

	position: relative;
}


.navigation-list__link {
	line-height: 18px;
	font-weight: 700;

	display: block;
	vertical-align: middle;
	padding: 8px 12px;
}

.navigation-list__link:hover {
    color: #333333;
    background-color: #f7f6f3; 
    border-radius: 25px;
    padding: 8px 12px;
}

.navigation-list__link:active {
	color: #333333;
    background-color: #f7f6f3; 
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);    
}
/*
.navigation-list__link:visited {
	color: #ffffff;
	background-color: #d07058;
	border-radius: 25px;
	padding: 8px 12px;
}   */

.navigation-menu,
.nav-form,
.feedback-form,
.purchase-wrap {
	display: none;
}

.navigation-list__item--open:hover .navigation-menu{
	display: block; 
}

.navigation-menu {
	margin: 0;
	padding: 0; 
	background-color: rgb(248, 247, 244);
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	width: 143px;
    height: 171px;
    
    position: absolute;
    left: -5px;
    top: 50px;
}

.navigation-menu__link {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	background-color: #f8f7f4;

	padding: 10px 15px;
}

.navigation-menu__link:hover {
	background-color: #fbded7;
} 

.navigation-menu__link:active {
	background-color: #f6b5a5;
}

.navigation-menu__link:visited {            
	background-color: #d07058;
}  

.user-nav {
	margin: 0;
	padding-top: 13px;
	display: flex;
	width: 265px;
    justify-content: flex-end;
    margin-left: auto;
}

.user-nav__btn {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;

	vertical-align: middle;
	display: block;
}

.user-nav__btn:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.btn-search {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	padding-top: 5px;
	padding-left: 7px;
	margin-right: 10px;
}

.btn-search:hover path,
.btn-login:hover path,
.btn-basket:hover path {
	fill: #000000;
}

.btn-login,
.btn-basket {
    padding: 8px 16px 9px 46px;
    position: relative;
    border-radius: 20px;   
}

.btn-login {
	margin-right: 10px;
}

.btn-login-icon {
	position: absolute;
	width: 20px;
	height: 19px;
	left: 17px;
	top: 6px;
}
.btn-basket-icon {
	position: absolute;
	width: 21px;
	height: 20px;
	left: 17px;
	top: 7px;
}
 
.nav-login-link {
     font-size: 13px;
     line-height: 24px;
     color: #323232;
}

.nav-login-link:hover,
.nav-login-link:active {
	color: #e84d37;
}
.conteiner-time {
	display: flex;
}

.time-info-wrap {
	width: 170px;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header-time-info {
	margin: 0;
	padding: 0; 
    font-size: 14px;
	line-height: 16px;
}

.header-time-info__phone {
    font-size: 22px;
	line-height: 24px;
}

.main-part {
	max-width: 1200px;
	padding: 0 27px;
	margin: 0 auto;
	box-sizing: border-box;
}
                     /*  slider*/
.slider {
	margin-bottom: 40px;
}

.slider-item {
	height: 495px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.slider-item--first {
	background-image: url("../img/slid-1.png");
	
}

.slider-item--second {
	background-image: url("../img/slid-2.png");
}

.slider-item--third{
   background-image: url("../img/slid-3.png");
}
.slider-list {
	margin: 0;
	padding: 0;
}

.slider-item__title {
	margin: 0;
	padding: 0;

	font-size: 60px;
	line-height: 60.35px; 
	font-weight: 700;
}



.slider-item--second,
.slider-item--third {
	display: none;
}

                
.button {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;

	background-color: #e84d37;
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    border: none;

}

.button--big {
	font-size: 32px;
	line-height: 44px;

	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    
    border-radius: 50px;
	padding: 8px 40px 13px 42px;
}

.button--big:hover {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    opacity: 0.8;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
    text-shadow: 0px 2px 5px #a0200b 0.76%;
}


.offers {
	display: flex;
	margin-bottom: 40px;
}

.offers-item {
	box-sizing: border-box;
	width: 560px;
	padding: 14px 19px 22px;
	border-radius: 15px;

	display: flex;
	flex-direction: column;
}

.offers-item__title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;

	margin: 0;
	margin-bottom: 16px;
}

.offers-item__info {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;

	margin: 0;
	margin-bottom: 44px;
}

.button--offers {
    padding: 9px 25px 13px 23px;
    border-radius: 24px;
    align-self: flex-end;
}

.button--offers:hover,
.button--offers:focus  {
	background-image: linear-gradient ( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.offers-item--jam {
    background: url("../img/raspberries.jpg") no-repeat 0 0;
    background-color: #640c1b;

    margin-right: 26px;
}

.offers-item--chocolate {
	background: url("../img/chocolate.jpg") no-repeat;
	background-color: #40261b;
}


.product {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.icy-cream-item {
	width: 267px;

	position: relative;

	background-color: rgba(248, 247, 244, 0);
	transition: all 0.5s ease;

}

.icy-cream-item:hover {
	border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 10px 13px;
}
.icy-cream-item__img {
	width: 267px;
	height: 267px;
	border-radius: 50%;
}
.icy-cream-item__info {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
    
    margin: 0;
    padding: 0;
	position: absolute;
	top: 205px;
	left: 0px;
}

.icy-cream-item__info--weight {
	font-size: 30px;
}

.icy-cream-item__description {
	margin: 0;
    padding: 5px;

    text-align: center;
}
.button--product {
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	padding: 9px 15px 11px;
	border-radius: 25px;
	margin: 10px auto;

	display: none;
}
.icy-cream-item:hover .button--product {
	display: block;
}

.about-ice-cream {
	color: #323232;
	background: url("../img/ pattern-info.jpg");
	background-color: #d9cdb2;
	border-radius: 13px;

	box-sizing: border-box;
	margin-bottom: 40px;
	padding: 27px 19px 20px;
}

.about-ice-cream__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;

	margin: 0;
}

.about-gllacy {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
}

.about-gllacy__info {
    width: 540px;
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 2px;
    margin: 0;
    box-sizing: border-box;

    position: relative;
}

.about-gllacy__info--icecream::before {
	content: "";

	position: absolute;
	width: 49px; 
	height: 49px;
	background: url("../img/icecream.svg") no-repeat -40px -15px;
}


.block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.block-item {
	box-sizing: border-box;
    width: 560px;
    height: 220px;
    border-radius: 15px;
}

.blog {
	color: #323232;
	background: url("../img/blog-background.jpg") no-repeat;
	background-color: #ffffff;

	padding: 24px 20px;
}

.blog__title {
	font-size: 16px;
	font-weight: 500;

	margin: 0;
	margin-bottom: 3px;
}

.blog__article-link {
	text-decoration: underline;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;

    display: block;
    padding-right: 200px;
}

.subscribe {
     color: #5a5a5a;
     background-color: #ffffff;
     
     box-sizing: border-box;
     padding: 36px 25px;
     
}

.subscribe__info {
	margin: 0;
    margin-bottom: 34px;
}

.nav-input--subscribe {
	width: 336px;
	border-radius: 5px;
    padding: 12px 15px;

    border: 1px solid rgb(178, 178, 178);
    background-color: rgba(255, 255, 255, 0.52);
}

.button--subscribe {
	padding: 9px 20px 12px 18px;
    border-radius: 24px;

    margin-left: 7px;
}

.map {
	width: 100%;
}

.address {
	width: 478px;
}

.address__info {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
}



.main-footer {
	font-size: 13px;
	line-height: 18px;
	color: #fefefe;

	max-width: 1200px;
	padding: 0 27px 20px;
	box-sizing: border-box; 
	margin: 0 auto;
	margin-top: 10px; 
	display: flex;
	justify-content: space-between;
}


.social-btn {
	margin: 0;
	padding: 0;

	width: 267px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-right: 130px;
	
}

.social-btn__link {
	width: 38px;
	height: 38px;
	margin: 0;
	margin-right: 48px;: 
	
    position: relative;
}
.social-btn__link--twitter::before {
    content: "";

	position: absolute;

	width: 32px;
	height: 32px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;

	background: url(../img/twitter.svg) no-repeat 0 0;
	opacity: 0.8;
}
.social-btn__link--insta::before {
	content: "";

	position: absolute;

	width: 32px;
	height: 32px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;

	background: url(../img/instagram.svg) no-repeat 0 0;
	opacity: 0.8;
}
.social-btn__link--fb::before {
	content: "";

	position: absolute;

	width: 32px;
	height: 32px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;

	background: url(../img/facebook.svg) no-repeat 0 0;
	opacity: 0.8;
}
.social-btn__link--vk::before {
	content: "";

	position: absolute;

	width: 32px;
	height: 32px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;

	background: url(../img/vk.svg) no-repeat 0 0;
	opacity: 0.8;
}

.social-btn__link:hover::before{
	opacity: 1;
}

.helpful-info {
	margin: 0;
	padding: 0;
	width: 340px;

	display: flex;
	flex-wrap: wrap;
}
.helpful-info__item {
	margin: 0;
	padding: 0;

	min-height: 20px;
    padding-left: 30px; 
}

.helpful-info__item--heart {
	position: relative;
	width: 120px;
	min-height: 20px;
}

.helpful-info__item--heart::before {
	content: "";

	position: absolute;
	width: 15px;
	height: 13px;

	background-image: url("../img/heart.svg") no-repeat;

}

.footer-copyright {
	width: 200px;
	padding-left: 40px;
	
}
.footer-copyright__made-in {
     font-size: 12px;

     margin: 0;
     padding: 0;
}
                  /* форма обратной сввязи */

.feedback-form {
	background-color: #f8f7f4;
}

.feedback-form__title {
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.footer-link-img {
	display: block;
	padding-left: 11px;
}



                 /* внутренняя*/
.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
}
.breadcrumbs__link:hover,
.breadcrumbs__link:active,
.footer-link:hover,
.footer-link:active {
	color: #ffbc9e;
}

.purchase-wrap {
	width: 540px;
}

.purchase {
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	background-color: #f8f7f4;
	list-style: none;
}

.purchase-item__weight-price {
	color: #999999;
}

.catalog {
	box-sizing: border-box;
	max-width: 1146px; 
	margin: 0 auto;
	padding: 0 27px;
} 

.catalog__title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}
.input-name {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.form-btn,
.catalog-input,
.catalog-form-item,
.catalog-range {
	color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    background-color: rgba(255, 255, 255, 0.2);
}

.input-name {
	display: block;
}

.container-form {
	margin-bottom: 40px;
	
}
.catalog-form {
	display: flex;
	flex-wrap: wrap;
}

.catalog-input-filler,
.catalog-input-fat {
	border: none;
}

.catalog-input--sort {
	width: 195px;
}
.catalog-input--sort:hover {
    color: #323232;
}
.catalog-range {
	width: 220px;
}
.catalog-input--price {
	width: 180px;
}
.catalog-form-item--radio {
	width: 418px;
}

.catalog-form-item--checkbox {
	width: 704px;
}


.form-btn {
    border: 2px solid #ffffff;
}

.form-btn:hover {
	color: #323232;
	background-color: #ffffff;
}
.form-btn:active {
	color: #323232;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}


.pagination-list {
	list-style: none;

	margin: 0;
	padding: 0; 
	width: 195px;
	display: flex;
	margin-left: auto;
}

.pagination-link {
	line-height: 18px;
}
.pagination-link:hover {
    background-color: #9db1a5;
    cursor: pointer;
}

.pagination-link:active {
	color: #353535;
	background-color: #ffffff;
	border-radius: 50%;
}



